<template lang="html">
  <div>
    <button-scan :label="buttonLabel" @click="scanDevices"></button-scan>
    <ul>
      <li v-for="device in devices" v-bind:id="device.address">
        <input @keyup="updatePort" v-bind:value="device.serialPort">
        {{device.address}} ==> {{ device.name}}
        <span @click="connectDevice">(Canal: {{device.channel}})</span>
      </li>
    </ul>
  </div>
</template>

<script>
  import ButtonScan from './ButtonScan.vue';
  import { BtDevices } from '../../api/collections/bluetoothDevices';

  export default {
    name: 'bluetooth-discoverDevices',
    components: { ButtonScan },
    data() {
      return {
        buttonLabel: 'Buscar dispositivos',
        devices: [],
      };
    },
    methods: {
      connectDevice(event) {
        const deviceAddress = event.target.parentElement.id;
        Meteor.call('connectBoard', deviceAddress, (error, result) => {
          if (error) {
            console.log(`Error conectando con el dispositivo ${deviceAddress}: `, error);
            return;
          }
          console.log(`Conectando con el dispositivo en el puerto ${result}`);
        });
      },
      scanDevices() {
        const self = this;
        Meteor.call('scanForDevices', (error, result) => {
          if (error) {
            console.log(error);
            // Cambio el estátus de la interfaz
            self.buttonLabel = 'Lo siento, ha ocurrido un error...';
            return;
          }
          // Cambio el estátus de la interfaz
          self.buttonLabel = result;
        });
      },
      updatePort(event) {
        const deviceAddress = event.target.parentElement.id;
        const portString = event.target.value;
        Meteor.call('updateDevice', deviceAddress, portString, (error, result) => {
          if (error) {
            console.log(`Error actualizando el dispositivo ${deviceAddress}: `, error);
            return;
          }
          console.log('Hecho');
          });
      },
    },
    meteor: {
      $subscribe: {
        'bluetoothDevices': [],
      },
      devices() {
        return BtDevices.find();
      },
    },
  };
</script>

<style lang="css">
</style>
