<template>
  <button type="button" @click="handleClick">{{label}}</button>
</template>

<script>
export default {
  name: 'button-scan',
  props: ['label'], // propiedades traidas del padre
  methods: {
    handleClick() {
      this.$emit('click', this); // evento emitido hacia el padre
    },
  },
}
</script>

<style lang="css">
</style>
