<template>
  <div class="app">
    <h1>Control de la calefacción</h1>
    <bluetooth-discoverDevices></bluetooth-discoverDevices>
  </div>
</template>

<script>
  import BluetoothDiscoverDevices from './components/BluetoothDiscoverDevices.vue'
  export default {
    components: { BluetoothDiscoverDevices },
  };
</script>

<style>
  body {
    margin: 30px;
  }
  a {
    color: #40b883;
    text-decoration: none;
  }
  h1, h2 {
    font-weight: normal;
  }
</style>
